
<!-- HEADER -->
<header id="header">
    
    <section id="top-right">
        <!-- PAGE HEADER -->
        <div class="txt-color-white">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <span class="txt-color-white">The Bridge <span class="hidden-xs"> - C.R.I. Pumps</span> @DateTime.Now.Year</span>
                </div>
            </div>
        </div>
        <!-- END PAGE HEADER -->

    </section>
</header>


<!-- END HEADER -->