    <!-- PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">The Bridge <span class="hidden-xs"> - C.R.I. Pumps</span> © @DateTime.Now.Year</span>
        </div>
    </div>
</div>
<!-- END PAGE FOOTER -->