

    <!-- MAIN CONTENT -->
    <div id="content">

        <!-- row -->
        <div class="row">

            <!-- col -->
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <i class="fa-fw fa fa-home"></i>
                    Report 
                </h1>
            </div>
            <!-- end col -->

        </div>
        <!-- end row -->
        <!--
            The ID "widget-grid" will start to initialize all widgets below
            You do not need to use widgets if you dont want to. Simply remove
            the <section></section> and you can use wells or panels instead
            -->
        <!-- widget grid -->
        <section id="widget-grid" class="">

            <!-- row -->
            <div class="row">

                <!-- NEW WIDGET START -->
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="well">
                        <h1 class="txt-color-green"><a href="#">12</a></h1>
                        <p>Invoice printing</p>
                        <div class="note">Today</div>
                    </div>
                </div>
               
                <!-- WIDGET END -->
            </div>

            <!-- end row -->
            <!-- row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clearfix">
                    <div class="bg-color-teal clearfix">
                        <h1 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Pumps</h1>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="well">
                                <h1 class="txt-color-green"><a href="#">12</a></h1>
                                <p>Orders</p>
                                <div class="note">Today</div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>

            <!-- end row -->

        </section>
        <!-- end widget grid -->

    </div>
    <!-- END MAIN CONTENT -->


